@tailwind base;
@tailwind components;
@tailwind utilities;



.title_font {
    font-family: 'Cambon';
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

::selection {
    background-color: #daf996;
    color: black;
}


#__next {
    @apply h-full;
}

html {
    @apply h-full;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}